<section class="description">
  <div>
    <small class="description__pretitle">Insomnia tips</small>
    <h2 class="description__title">Looking through a window</h2>
    <p class="description__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      loctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
  </div>
  <div class="description__bottom">
    <a class="description__bottom--text description-bottom" href="https://adalab.es/" title="Go"
      >Go</a
    >
  </div>
</section>
