<footer class="footer">
  <div class="footer__icon icon">
    <a href="#hero" title="Go to the beginning">
      <img
        class="footer__icon--arrow"
        src="./assets/images/ico-arrow.svg"
        alt="Go to the beginning"
        title="Go to the beginning"
      />
    </a>
  </div>
  <nav class="footer__articles">
    <ul>
      <li class="footer__articles--list">
        <a
          class="links"
          href="https://adalab.es/"
          title="Link to articles"
          target="_blank"
          >Articles</a
        >
      </li>
      <li class="footer__articles--list">
        <a
          class="links"
          href="https://adalab.es/"
          title="Link to books"
          target="_blank"
          >Books</a
        >
      </li>
      <li class="footer__articles--list">
        <a
          class="links"
          href="https://adalab.es/"
          title="Link to events"
          target="_blank"
          >Events</a
        >
      </li>
      <li class="footer__articles--list">
        <a
          class="links"
          href="https://adalab.es/"
          title="Link to reasons"
          target="_blank"
          >Reasons</a
        >
      </li>
      <li class="footer__articles--list">
        <a
          class="links"
          href="https://adalab.es/"
          title="Link to tips"
          target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__social">
    <ul>
      <li class="footer__social--list">
        <a
          class="links"
          href="https://adalab.es/"
          title="Link to Twitter"
          target="_blank"
          >Twitter</a
        >
      </li>
      <li class="footer__social--list">
        <a
          class="links"
          href="https://adalab.es/"
          title="Link to Instagram"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li class="footer__social--list">
        <a
          class="links"
          href="https://adalab.es/"
          title="Link to Mastodon.social"
          target="_blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__copy">
    <small>©2021</small>
    <small>
      <span>we </span><span class="footer__copy--heart">&#10084;</span
      ><span> components</span>
    </small>
  </div>
</footer>
<!-- ❤ -->
