<footer class="footer">
  <div>
    <a href="../index.html" title="Go to the beginning">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Go to the beginning"
        title="Go to the beginning"
      />
    </a>
  </div>
  <div class="centralcolumn nav">
    <nav class="nav__articles articles">
      <ul>
        <li class="articles__list">
          <a
            class="links"
            href="https://adalab.es/"
            title="Link to articles"
            target="_blank"
            >Articles</a
          >
        </li>
        <li class="articles__list">
          <a
            class="links"
            href="https://adalab.es/"
            title="Link to books"
            target="_blank"
            >Books</a
          >
        </li>
        <li class="articles__list">
          <a
            class="links"
            href="https://adalab.es/"
            title="Link to events"
            target="_blank"
            >Events</a
          >
        </li>
        <li class="articles__list">
          <a
            class="links"
            href="https://adalab.es/"
            title="Link to reasons"
            target="_blank"
            >Reasons</a
          >
        </li>
        <li class="articles__list">
          <a
            class="links"
            href="https://adalab.es/"
            title="Link to tips"
            target="_blank"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="nav__social social">
      <ul>
        <li class="social__list">
          <a
            class="links"
            href="https://adalab.es/"
            title="Link to Twitter"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li class="social__list">
          <a
            class="links"
            href="https://adalab.es/"
            title="Link to Instagram"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="social__list">
          <a
            class="links"
            href="https://adalab.es/"
            title="Link to Mastodon.social"
            target="_blank"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="copy">
      <small>©2021</small>
      <small>
        <span>We</span><span class="copy__heart">&#x2764</span><span>components</span>
      </small>
    </div>
  </div>
</footer>
