<section class="hero">
  <img class="hero__image" src="./assets/images/cover.jpg" alt="fondo-hero" />
  <div class="centralcolumn hero__text">
    <h1 class="hero__title">Anonymous proxy</h1>
    <h2 class="hero__subtitle">In hac habitasse platea dictumst</h2>
  </div>
  <div>
    <a href="#reasons" title="Go to reasons section">
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="Go to reasons section"
        title="Go to reasons section"
      />
    </a>
  </div>
</section>
