<section class="pricing">
  <h2 class="pricing__title">Princing</h2>
  <div class="pricing__subtitle">
    <h3 class="pricing__subtitle--1">Plan normal</h3>
    <h3 class="pricing__subtitle--2">Plan premium</h3>
  </div>
</section>
<section id="reasons" class="reasons">
  <h2 class="reasons__title">3 Reasons to purchase</h2>
  <div class="reasons__items">
    <div class="reasons__items--item1">
      <h3 class="reasons__items--title">Ut sed metus</h3>
      <p class="reasons__items--text">
        Lorem ipsum dolor sit amet, consectetur.
      </p>
    </div>
    <div class="reasons__items--item2">
      <h3 class="reasons__items--title">Curabitur ac erat</h3>
      <p class="reasons__items--text">Mauris mattis urna quis lorem molestie</p>
    </div>
    <div class="reasons__items--item3">
      <h3 class="reasons__items--title">Morbi dictum</h3>
      <p class="reasons__items--text">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </div>

  <div class="reasons__button">
    <a
      class="reasons__button--text reasons-button"
      href="https://adalab.es/"
      title="More reasons"
      >More reasons</a
    >
  </div>
</section>
