<section id="reasons" class="reasons">
  <div>
    <h2 class="reasons__title">3 Reasons to purchase</h2>
    <div class="reasons__items">
      <p>Ut sed metus</p>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="reasons__items">
      <p>Curabitur ac erat</p>
      <p>Mauris mattis urna quis lorem molestie</p>
    </div>
    <div class="reasons__items">
      <p>Morbi dictum</p>
      <p>Aliquam in dolor et dolor tincidunt. More reasons</p>
    </div>
  </div>
</section>
