@mixin normal-text() {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  @content;
}
@mixin tablet() {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media all and (min-width: 1200px) {
    @content;
  }
}
