// fonts
$font-titles: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;

// colors
$color-header: #0271bc;
$color-text-hero: #ffffff;
$color-description: #ffffff;
$color-insomnia: #8ccbea;
$color-main-text: #000000;
$color-text-description: #4a4a4a;
$color-reasons: #eff9ff;
$color-botton: #f26002;
$color-text-botton: #ffffff;
$color-footer: #304268;
$color-text-footer: #ffffff;
$color-icon-footer: #f26002;
