.footer {
  background-color: $color-footer;
  width: 100%;
  height: 465px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include normal-text() {
  }
  @include tablet() {
    height: 240px;
    padding: 45px 39px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @include desktop() {
    padding: 45px 370px;
  }

  &__icon {
    width: 45px;
    height: 45px;
    padding: 11px 12.4px 10px 12px;
    border-radius: 22.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: $color-text-hero;
    position: absolute;
    top: -22.5px;
    &--iconscroll {
      width: 20.6px;
      height: 24px;
      object-fit: contain;
    }
  }
  &__articles {
    margin: 60px 0 30px;
    font-family: $font-text;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: $color-text-footer;
    text-transform: uppercase;
    &--list {
      list-style-type: none;
    }
    @include tablet() {
      margin: 0 30px 0;
      order: 1;
      width: 210px;
      text-align: left;
    }
  }
  &__social {
    font-family: $font-text;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: $color-text-footer;
    text-transform: uppercase;
    margin: 0 0 30px;
    &--list {
      list-style-type: none;
    }
    @include tablet() {
      order: 2;
      width: 210px;
      text-align: left;
    }
  }
  &__copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-text;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    color: $color-text-footer;
    margin-bottom: 45px;
    @include tablet() {
      width: 210px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }
  }
}
.links {
  color: $color-text-footer;
  text-decoration: none;
}
.fas {
  color: $color-icon-footer;
}

/*Animation*/

@keyframes intro {
  from {
    opacity: 0.5;
    background-color: $color-animation;
    transform: rotate(360deg) scale(2) translateY(30px);
  }
  to {
    opacity: 1;
    background-color: $color-text-hero;
  }
}
.icon {
  animation-duration: 1.5s;
  animation-name: intro;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
