.hero {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    @include normal-text() {
    }
    &--title {
      width: 290px;
      height: 110px;
      margin: 284px $margin-mobile 0px;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      font-family: $font-titles;
      font-size: 42px;
      font-weight: bold;
      line-height: 1.31;
      text-align: center;
      color: $color-text-hero;
      text-transform: uppercase;
      @include tablet() {
        width: 690px;
        height: 212px;
        margin: 340px $margin-tablet 0;
        font-size: 80px;
        line-height: 1.33;
      }
      @include desktop() {
        width: 730px;
        height: 264px;
        margin: 340px $margin-desktop 0;
        font-size: 100px;
        line-height: 1.32;
      }
    }
    &--subtitle {
      width: 290px;
      height: 21px;
      margin: 10px $margin-mobile 45px;
      font-family: $font-text;
      font-size: 16px;
      line-height: normal;
      font-weight: normal;
      text-align: center;
      color: $color-text-hero;
      @include tablet() {
        width: 360px;
        height: 32px;
        margin: 20px 204px 30px;
        font-size: 24px;
      }
      @include desktop() {
        width: 730px;
        margin: 0px $margin-desktop 30px;
      }
    }
  }
  &__icon {
    width: 45px;
    height: 45px;
    margin: 0px 137px 53px 138px;
    padding: 18px 12px 15.3px 13px;
    border-radius: 22.5px;
    background-color: $color-text-hero;
    @include tablet() {
      margin: 0 322px 45px 318px;
    }
    @include desktop() {
      margin: 0 617px 13px 618px;
    }
    &--iconscroll {
      width: 20px;
      height: 11.7px;
      object-fit: contain;
    }
  }
}
