.pricing {
  font-family: $font-titles;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: $color-pricing-text;
  background-color: $color-footer;
  text-align: center;
  @include tablet() {
    &__subtitle {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &--1 {
        margin-right: 30px;
      }
    }
  }
}
.reasons {
  height: 624px;
  width: 100%;
  padding: 30px $margin-mobile 60px;
  background-color: $color-reasons;
  @include normal-text() {
  }
  text-align: center;
  @include tablet() {
    height: 397px;
    padding: 30px $margin-tablet 60px 39px;
  }
  @include desktop() {
    height: 427px;
    padding: 60px 84px 60px 81px;
  }
  &__title {
    height: 30px;
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $color-main-text;
    text-transform: capitalize;
    @include tablet() {
      height: 45px;
      font-size: 26px;
      line-height: 1.73;
      margin: 0 119px;
    }
    @include desktop() {
      font-size: 32px;
      line-height: 1.41;
      margin: 0 191px 0 194px;
    }
  }
  &__items {
    margin: 0 53px 0;
    line-height: 1.67;
    color: $color-main-text;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    // align-items: center;
    @include tablet() {
      margin: 0;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    &--item1 {
      grid-row: 1 / 2;
      @include tablet() {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }
    &--item2 {
      grid-row: 2 / 3;
      @include tablet() {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
    }
    &--item3 {
      grid-row: 3 / 4;
      @include tablet() {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }
    }
    &--title {
      margin-top: 45px;
      width: 184px;
      height: 30px;
      font-family: $font-titles;
      font-size: 18px;
      font-weight: bold;
      @include tablet() {
        width: 210px;
        font-size: 24px;
        line-height: 1.25;
      }
      @include desktop() {
        width: 350px;
      }
    }
    &--text {
      width: 180px;
      height: 63px;
      font-family: $font-text;
      font-size: 18px;
      @include tablet() {
        width: 212.3px;
        height: 68px;
        font-size: 20px;
        line-height: 1.5;
      }
      @include desktop() {
        width: 353.8px;
      }
    }
  }
  &__button {
    margin: 45px 0 30px;
    @include tablet() {
      margin: 60px 27px 0 29px;
    }
    &--text {
      height: 45px;
      font-family: $font-text;
      font-size: 20px;
      font-weight: 500;
      line-height: 2.25;
      text-align: center;
      color: $color-text-button;
      border-radius: 22.5px;
      background-color: $color-button;
      text-transform: capitalize;
      padding: 12.5px 29.5px 12.5px 30.5px;
      @include tablet() {
        padding: 12.5px 42.5px 12.5px 43.5px;
      }
      @include desktop() {
        padding: 12.5px 62px 12.5px 63px;
      }
    }
  }
}

/*Transition*/
.reasons-button {
  text-decoration: none;
  transition: color ease 1.5s, background-color ease 1.5s;
  &:hover {
    color: $color-main-text;
    background-color: $color-header;
  }
}
