.reasons {
  height: 624px;
  padding: 30px 15px 60px;
  background-color: $color-reasons;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  @include normal-text() {
  }
  text-align: center;
  &__title {
    height: 30px;
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $color-main-text;
    grid-column: 2 / 3;
  }
  &__items {
    margin: 45px 53px 0;
    line-height: 1.67;
    color: $color-main-text;
    grid-column: 2 / 3;
    &--title {
      width: 184px;
      height: 30px;
      font-family: $font-titles;
      font-size: 18px;
      font-weight: bold;
    }
    &--text {
      width: 180px;
      height: 63px;
      font-family: $font-text;
      font-size: 18px;
      font-weight: normal;
    }
  }
  &__bottom {
    margin: 45px 53px 0;
    grid-column: 2 / 3;
    &--text {
      height: 45px;
      font-family: $font-text;
      font-size: 20px;
      font-weight: 500;
      line-height: 2.25;
      text-align: center;
      color: $color-text-botton;
      border-radius: 22.5px;
      background-color: $color-botton;
      padding: 12.5px 29.5px 12.5px 30.5px;
    }
  }
}
.reasons-bottom {
  text-decoration: none;
  transition: color ease 1.5s, background-color ease 1.5s;
  &:hover {
    color: $color-main-text;
    background-color: $color-header;
  }
}
