.reasons {
  height: 624px;
  width: 100%;
  padding: 30px 15px 60px;
  background-color: $color-reasons;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  @include normal-text() {
  }
  text-align: center;
  @include tablet() {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  &__title {
    height: 30px;
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $color-main-text;
    grid-row: 1 / 2;
    @include tablet() {
      grid-column: 2 / 3;
    }
  }
  &__items {
    margin: 0 53px 0;
    line-height: 1.67;
    color: $color-main-text;
    &--item1 {
      grid-row: 2 / 3;
      @include tablet() {
        grid-column: 1 / 2;
      }
    }
    &--item2 {
      grid-row: 3 / 4;
      @include tablet() {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
    }
    &--item3 {
      grid-row: 4 / 5;
      @include tablet() {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
      }
    }
    &--title {
      margin-top: 45px;
      width: 184px;
      height: 30px;
      font-family: $font-titles;
      font-size: 18px;
      font-weight: bold;
    }
    &--text {
      width: 180px;
      height: 63px;
      font-family: $font-text;
      font-size: 18px;
      font-weight: normal;
      @include tablet() {
        width: 212.3px;
        height: 68px;
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
  &__bottom {
    margin: 45px 53px 30px;
    grid-row: 5 / 6;
    @include tablet() {
      grid-column: 2 / 3;
    }
    &--text {
      height: 45px;
      font-family: $font-text;
      font-size: 20px;
      font-weight: 500;
      line-height: 2.25;
      text-align: center;
      color: $color-text-botton;
      border-radius: 22.5px;
      background-color: $color-botton;
      padding: 12.5px 29.5px 12.5px 30.5px;
    }
  }
}
.reasons-bottom {
  text-decoration: none;
  transition: color ease 1.5s, background-color ease 1.5s;
  &:hover {
    color: $color-main-text;
    background-color: $color-header;
  }
}
